.board {
  box-shadow: 0 0 40px #fff, -7px 0 70px #f0f, 7px 0 70px #0ff;
  border-radius: 10px;
}

table tr:first-child td:first-child {
  border-radius: 10px 0 0 0 !important;
}

table tr:first-child td:last-child {
  border-radius: 0 10px 0 0 !important;
}

table tr:last-child td:last-child {
  border-radius: 0 0 10px 0 !important;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 10px !important;
}
